.headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    background-color: #435d7d;
    color: white;
    padding: 20px 25px;
    margin: 15px 0;
    }
    th{
    text-align: center;
    }
    .form-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 100;
        }
        .mobile-form{
        
        background-color: white;
        width: 600px;
        padding: 20px 50px;
        border-radius: 5px;
        }
        .group{
        display: flex;
        margin: 15px 0;
        }
        .group label{
        width: 70px;
        line-height: 40px;
        height: 40px;
        }
        .action{
        display: flex;
        justify-content: center;
        gap:100px;
        margin: 20px;
        }
        .form-control{
        width: 90%;
        }